<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/manager/index :: dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper bg-white mt-sm-5" id="ContainerFormAccount" style="padding: 30px 50px;border: 1px solid #ddd;border-radius: 15px;margin: 10px auto;max-width: 1000px;">
    <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
        <strong>Account Created Successfully!</strong>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="d-flex align-items-start py-3 border-bottom">
        <img style="  width: 170px; height: 120px;border-radius: 6px;object-fit: cover;" src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
             class="img" alt="">
        <div class="pl-sm-4 pl-2" id="img-section" style="margin-left: 20px">
            <b>Profile Photo</b>
            <p>Accepted file type .png. Less than 1MB</p>
            <input class="form-control border" type="file"/>
        </div>
    </div>
    <div class="py-2">
        <form  method="post" th:object="${account}">
        <div class="row py-2">
            <div class="col-md-6">
                <label >Username:</label>
                <input type="text" name="username" th:field="${account.username}" class="bg-light form-control" placeholder="trung">
                <p th:if="${#fields.hasErrors('username')}" th:errorclass="text-danger" th:errors="${account.username}">  </p>
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label >Password</label>
                <input type="password" th:field="${account.password}" name="password" class="bg-light form-control" placeholder="***">
                <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${account.password}">
                </p>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6 pt-md-0 pt-3">
                <label >Fullname:</label>
                <input type="text" name="fullname" th:field="${account.fullname}" class="bg-light form-control" placeholder="Chau Minh Trung">
                <p th:if="${#fields.hasErrors('fullname')}" th:errorclass="text-danger" th:errors="${account.fullname}">  </p>
            </div>
            <div class="col-md-6">
                <label >Email Address</label>
                <input type="email" name="email" class="bg-light form-control" placeholder="minhtrung@gmail.com" th:field="${account.email}">
                <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="${account.email}">
                </p>
            </div>
        </div>

        <div class="py-3 pb-4 border-bottom">
            <button type="submit" class="btn btn-primary mr-3">Save</button>
            <a href="/manager/EditAccount" class="btn btn-tag">Reset</a>

        </div>
        </form>
    </div>
</div>
<script src="/JS/account.js"></script>
</body>
</html>