<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" th:fragment="dynamic(view)">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesom...in.css"/>
  <link rel="stylesheet" href="/CSS/theme.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11....in.css">


  <link rel="stylesheet" href="/CSS/detail.css">

  <!-- SweetAlert2 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/di...in.css">
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6...in.js"></script>

  <!-- SweetAlert2 JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dis...in.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a class="navbar-brand position-absolute" href="/home"><img src="/IMG/logo.png" width="120"></a>
  <div style="margin-left: 270px">
    <h1 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">Quản Lý</h1>
    <ul
            class="breadcrumb fw-bold fs-7 pt-1">
      <li class="breadcrumb-item text-muted"><p href="#" class="text-muted text-hover-primary">Vai trò: Admin - <a href="">[[${option}]]</a></p></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="sidebar_column col-2 d-flex flex-column flex-shrink-0 p-4" style="width: 280px; background-color: #0f172a">
    <ul class="nav nav-pills flex-column mb-auto mt-2">
      <li class="text-uppercase text-secondary fw-bold mb-3 ms-1 ">Quản lý</li>

      <li class="nav-item">
        <a href="/manager/ManagerProducts" class="nav-link bg-transparent text-white " aria-current="page">
          <i class="fa-solid fa-hippo me-2" width="16" height="16"></i>
          Products
        </a>
      </li>
      <li>
        <a href="/manager/Accounts" class="nav-link bg-transparent text-white">
          <i class="fa-solid fa-users-gear me-2" width="16" height="16"></i>
          Accounts
        </a>
      </li>
      <li>
        <a href="/manager/Orders" class="nav-link bg-transparent text-white">
          <i class="fa-solid fa-cart-shopping me-2" width="16" height="16"></i>
          Orders
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_DIRE')">
        <a href="/manager/Authorities" class="nav-link bg-transparent text-white">
          <i class="fa-solid fa-shield-halved me-2" width="16" height="16"></i>
          Authorities
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_DIRE')">
        <a href="/manager/Statistical" class="nav-link bg-transparent text-white">
          <i class="fa-solid fa-chart-simple me-2" width="16" height="16"></i>
          Statistical
        </a>
      </li>
      <li class="text-uppercase text-secondary fw-bold mb-3 ms-1 ">EDIT</li>
      <li>
        <a href="/manager/EditProducts" class="nav-link bg-transparent text-white">
          <i class="bi bi-pencil-square me-2" width="16" height="16"></i>
          Chỉnh sửa sản phẩm
        </a>
      </li>
      <li>
        <a href="/manager/EditAccount" class="nav-link bg-transparent text-white">
          <i class="bi bi-pencil-square me-2" width="16" height="16"></i>
          Chỉnh sửa người dùng
        </a>
      </li>
    </ul>
  </div>
  <div class="col-9">
    <div class="text-center mt-4" th:text="${message}"></div>
    <div th:replace="${view}"></div>
  </div>
</div>
<footer>
  <div th:replace="/layout/footer"></div>
</footer>


<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1...in.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/j...in.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>