<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"
      th:fragment="dynamic(view)">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
  <link rel="stylesheet" href="/CSS/theme.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- MDB -->
  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
      rel="stylesheet"
  />
  <link rel="stylesheet" href="/CSS/detail.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a class="navbar-brand position-absolute" href="/home"><img src="/IMG/logo.png" width="120"></a>
  <div style="margin-left: 270px">
    <h1 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">Quản Lý</h1>
    <ul
        class="breadcrumb fw-bold fs-7 pt-1">
      <li class="breadcrumb-item text-muted"><a
          href="/admin/product" class="text-muted text-hover-primary">Vai trò: Admin</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="sidebar_column col-2 d-flex flex-column flex-shrink-0 p-4" style="width: 280px; background-color: #0f172a">
    <ul class="nav nav-pills flex-column mb-auto mt-2">
      <li class="text-uppercase text-secondary fw-bold mb-3 ms-1 ">Quản lý</li>

      <li class="nav-item">
        <a href="/manager/ManagerProducts" class="nav-link bg-transparent text-white " aria-current="page">
          <i class="fa-solid fa-hippo me-2" width="16" height="16"></i>
          Products
        </a>
      </li>
      <li>
        <a href="/manager/Accounts" class="nav-link bg-transparent text-white">
          <i class="fa-solid fa-users-gear me-2" width="16" height="16"></i>
          Accounts
        </a>
      </li>
      <li>
        <a href="/manager/Orders" class="nav-link bg-transparent text-white">
          <i class="fa-solid fa-cart-shopping me-2" width="16" height="16"></i>
          Orders
        </a>
      </li>
      <li>
        <a href="/manager/Authorities" class="nav-link bg-transparent text-white">
          <i class="fa-solid fa-shield-halved me-2" width="16" height="16"></i>
          Authorities
        </a>
      </li>
      <li class="text-uppercase text-secondary fw-bold mb-3 ms-1 ">EDIT</li>
      <li>
        <a href="/manager/EditProducts" class="nav-link bg-transparent text-white">
          <i class="bi bi-pencil-square me-2" width="16" height="16"></i>
          Chỉnh sửa sản phẩm
        </a>
      </li>
      <li>
        <a href="#" class="nav-link bg-transparent text-white">
          <i class="bi bi-pencil-square me-2" width="16" height="16"></i>
          Chỉnh sửa người dùng
        </a>
      </li>
    </ul>
  </div>
  <div class="col-9">
    <div class="text-center mt-4" th:text="${message}"></div>
    <div th:replace="${view}"></div>
  </div>
</div>
<div th:fragment="sidebar">
  <div class="sidebar" id="sidebar">
    <nav class="sidebar__container">
      <div class="sidebar__logo">
        <img th:src="@{https://storelinhtinh.com/wp-content/uploads/2022/06/unnamed.png}" alt=""
             class="sidebar__logo-img"/>
        <img th:src="@{/assets/img/udemy-logo-text.svg}" alt="" class="sidebar__logo-text"/>
      </div>
      <div class="sidebar__content">
        <div class="sidebar__list">
          <a th:href="@{/admin/trang-chu}" class="sidebar__link"
             th:classappend="(${currentPage} == 'trang-chu') ? 'active-link' : ''">
            <i class="ri-home-5-line"></i>
            <span class="sidebar__link-name">Trang chủ</span>
            <span class="sidebar__link-floating">Trang chủ</span>
          </a>
          <a th:href="@{/admin/khoa-hoc}" class="sidebar__link"
             th:classappend="(${currentPage} == 'khoa-hoc') ? 'active-link' : ''">
            <i class="ri-folder-2-line"></i>
            <span class="sidebar__link-name">Khóa học</span>
            <span class="sidebar__link-floating">Khóa học</span>
          </a>
          <a th:href="@{/admin/chuyen-de}" class="sidebar__link"
             th:classappend="(${currentPage} == 'chuyen-de') ? 'active-link' : ''">
            <i class="ri-file-list-2-line"></i>
            <span class="sidebar__link-name">Chuyên đề</span>
            <span class="sidebar__link-floating">Chuyên đề</span>
          </a>
          <a th:href="@{/admin/nguoi-dung}" class="sidebar__link"
             th:classappend="(${currentPage} == 'nguoi-dung') ? 'active-link' : ''">
            <i class="ri-user-3-line"></i>
            <span class="sidebar__link-name">Người dùng</span>
            <span class="sidebar__link-floating">Người dùng</span>
          </a>
          <a th:href="@{/admin/danh-gia}" class="sidebar__link"
             th:classappend="(${currentPage} == 'danh-gia') ? 'active-link' : ''">
            <i class="ri-question-answer-line"></i>
            <span class="sidebar__link-name">Đánh giá</span>
            <span class="sidebar__link-floating">Đánh giá</span>
          </a>
          <a th:href="@{/}" class="sidebar__link">
            <i class="ri-arrow-go-back-line"></i>
            <span class="sidebar__link-name">Trang chính</span>
            <span class="sidebar__link-floating">Trang chính</span>
          </a>
          <a th:href="@{/account/dang-nhap}" class="sidebar__link">
            <i class="ri-logout-box-r-line"></i>
            <span class="sidebar__link-name">Đăng xuất</span>
            <span class="sidebar__link-floating">Đăng xuất</span>
          </a>
        </div>
      </div>
      <div class="sidebar__account">
        <img th:src="@{/assets/img/user/1.jpg}" alt="sidebar image" class="sidebar__perfil"/>
        <div class="sidebar__names">
          <h3 class="sidebar__name">phh235</h3>
          <span class="sidebar__email">Admin</span>
        </div>
        <i class="ri-arrow-right-s-line"></i>
      </div>
    </nav>
  </div>
</div>

<footer>
  <div th:replace="/layout/footer"></div>
</footer>

<script th:inline="javascript">
  function setActiveLink(event) {
    var links = document.querySelectorAll('.sidebar__link');
    links.forEach(function (link) {
      link.classList.remove('active-link');
    });
    event.currentTarget.classList.add('active-link');
  }
</script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
</body>
</html>