<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/manager/index :: dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8" style="font-size: 30px"><b>Orders Manager</b></div>
        <div class="form-outline rounded w-30" data-mdb-input-init>
            <input type="search" id="searchInput" onkeyup="myFunction()" class="form-control"/>
            <label class="form-label" for="searchInput">Tìm kiếm <i class="fa-solid fa-magnifying-glass"></i></label>
        </div>
    </div>
    <hr>
    <div class="mt-4" style="height: 600px; overflow-y: scroll">
        <table class="table table-hover" id="myTable">
            <thead>
            <tr class="text-center">
                <th scope="col">Order ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Email User</th>
                <th scope="col">CreateDate</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Status</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody id="orderManager">

            </tbody>
        </table>
    </div>
</div>
<script src="/JS/orderManager.js"></script>
<script>
    function myFunction() {
        let input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Lặp qua tất cả các hàng của bảng
        for (i = 0; i < tr.length; i++) {
            let found = false; // Biến để kiểm tra xem có từ khóa tìm kiếm không
            // Lặp qua tất cả các cột (td) của hàng hiện tại
            for (j = 0; j < tr[i].getElementsByTagName("td").length; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        found = true; // Đánh dấu là đã tìm thấy từ khóa tìm kiếm
                        break; // Ngừng lặp nếu đã tìm thấy
                    }
                }
            }
            // Hiển thị hoặc ẩn hàng dựa trên kết quả tìm kiếm
            if (found) {
                tr[i].style.display = ""; // Hiển thị hàng nếu tìm thấy từ khóa
            } else {
                // Ẩn chỉ các hàng trong phần tbody
                if (tr[i].parentNode.tagName.toLowerCase() === 'tbody') {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>

</html>