<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/manager/index :: dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <h2 class="text-center">Manager Accounts</h2>
    <div class="container" >


        <div style="margin-left: 20px;overflow-y: scroll;height: 500px;">
            <table class="table">
                <thead style="top: 0px;position: sticky;background:#f1f5f9">
                <tr class="text-center">
                    <th>Username</th>
                    <th>Password</th>
                    <th>Fullname</th>
                    <th>email</th>
                    <th>photo</th>
                    <th>Actions</th>
                </tr>
                </thead>
<!--                fill o day-->
                <tbody id="TableAccount" >
                </tbody>
            </table>
        </div>
    </div>

    <script src="/JS/account.js"></script>
</body>
</html>