<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/manager/index :: dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Manager Account</title>

</head>
<body>
<div class="d-flex">
    <form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">
        <span class="position-absolute ps-3 search-icon">
         <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <label for="search" class="visually-hidden"></label>
        <input type="search" id="search" class="form-control ps-6" placeholder="Tìm kiếm Account">
    </form>
</div>


<!-- Tabs navs -->
<hr>
<div class="d-flex mb-3 mt-1">
    <ul class="nav nav-tabs" id="ex1-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Account List</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Edit Account</a>
        </li>
    </ul>
</div>
<hr>
<!-- End Tabs navs -->
<div class="bg-white p-4 rounded m-4" style="overflow-y: scroll;height: 500px; width: 1200px;position: relative;">
    <div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
    <div class="table-responsive">
        <table class="table">
            <thead class="bg-transparent" >
            <tr class="text-center" style="background: #ededed">
                <th>Username</th>
                <th>Password</th>
                <th>Fullname</th>
                <th>email</th>
                <th>photo</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="TableAccount">
            <!-- Dữ liệu sẽ được chèn vào đây từ JavaScript -->
            </tbody>
        </table>
    </div>
     </div>
        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            <div id="editAccountForm"></div>
        </div>
</div>
</div>
<nav class="d-flex justify-content-center border-top pb-md-4 pt-4"
     aria-label="Pagination">
    <ul class="pagination">
        <li class="page-item "><button class="page-link"
                                        href="#" onclick="paper.first()">First</button></li>
        <li class="page-item "><button class="page-link"
                                  href="#"  onclick="paper.prev()">Previous</button></li>
        <li class="page-item CountPage"><button class="page-link"
                                       href="#" id="CountPage"  disabled onclick="paper.getCountPage()"></button></li>
        <li class="page-item"><button class="page-link"
                                 href="#"  onclick="paper.next()">Next</button></li>
        <li class="page-item"><button class="page-link"
                                 href="#"  onclick="paper.last()">Last</button></li>
    </ul>
</nav>

    <script src="/JS/account.js"></script>
</body>
</html>

