<nav class="navbar navbar-expand-lg" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org">
  <div class="container-fluid px-0">
    <a class="navbar-brand position-absolute" href="/home"><img src="/IMG/logo.png" width="120"></a>
    <!-- Mobile view nav wrap -->
    <div class="ms-auto d-flex align-items-center order-lg-3" >
      <div class="dropdown">
        <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center"
                type="button" aria-expanded="false" data-bs-toggle="dropdown"
                aria-label="Toggle theme (auto)">
          <i class="bi theme-icon-active"><i class="fa-solid fa-sun"></i></i>
          <span class="visually-hidden bs-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active"
                    data-bs-theme-value="light" aria-pressed="true">
              <i class="fa-solid fa-sun"></i>
              <span class="ms-2">Light</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="dark" aria-pressed="false">
              <i class="fa-solid fa-moon"></i>
              <span class="ms-2">Dark</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="auto" aria-pressed="false">
              <i class="fa-solid fa-circle-half-stroke"></i>
              <span class="ms-2">Auto</span>
            </button>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav navbar-right-wrap ms-2 flex-row d-none d-md-block">
        <a href="/login" class="btn btn-primary" sec:authorize="!isAuthenticated()">Login</a>

        <div sec:authorize="isAuthenticated()">
          <li class="dropdown d-inline-block stopevent position-static">
            <a class="btn btn-light btn-icon rounded-circle indicator indicator-primary"
               href="/cart/view">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>

          <li class="dropdown ms-2 d-inline-block position-static">
            <a class="rounded-circle" href="#" data-bs-toggle="dropdown" data-bs-display="static"
               aria-expanded="false">
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img alt="avatar" src="/IMG/user.webp" class="rounded-circle">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end position-absolute mx-3 my-5">
              <div class="dropdown-item">
                <div class="d-flex">
                  <div class="avatar avatar-md avatar-indicators avatar-online">
                    <img alt="avatar" src="/IMG/user.webp" class="rounded-circle">
                  </div>
                  <div class="ms-3 lh-1">
                    <h5 class="mb-1" sec:authentication="name"></h5>
                    <p class="mb-0" sec:authentication="principal.authorities"></p>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li class="dropdown-submenu ">
                  <a class="dropdown-item " href="#">
                    <i class="fa-regular fa-circle p-2"></i>
                    Status
                  </a>

                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa-regular fa-user p-2"></i>
                    Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa-regular fa-star p-2"></i>
                    Subscription
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa-solid fa-gear p-2"></i>
                    Settings
                  </a>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" th:href="@{/security/logoff}"><i
                      class="fa-solid fa-right-from-bracket m-2"></i>Log Out</a>
                </li>
              </ul>
            </div>
          </li>
        </div>


      </ul>
    </div>
    <div>
      <!-- Button -->
      <button class="navbar-toggler collapsed ms-2" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
    </div>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbar-default" style="margin-left: 120px">
      <ul class="navbar-nav mt-3 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarBrowse" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" data-bs-display="static">Browse <i
              class="fa-solid fa-chevron-down fs-6"></i> </a>

          <ul class="dropdown-menu " aria-labelledby="navbarBrowse">
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item " href="#">Web Development <i
                  class="fa-solid fa-chevron-down fs-5 m-2"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Bootstrap</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">React</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">GraphQl</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Gatsby</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Grunt</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Svelte</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Meteor</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">HTML5</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Angular</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item " href="#">Design <i
                  class="fa-solid fa-chevron-down fs-6 m-2"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Graphic Design</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Illustrator</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">UX / UI Design</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Figma Design</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Adobe XD</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Sketch</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Icon Design</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/course-category.html">Photoshop</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="./pages/course-category.html" class="dropdown-item">Mobile App</a>
            </li>
            <li>
              <a href="./pages/course-category.html" class="dropdown-item">IT Software</a>
            </li>
            <li>
              <a href="./pages/course-category.html" class="dropdown-item">Marketing</a>
            </li>
            <li>
              <a href="./pages/course-category.html" class="dropdown-item">Music</a>
            </li>
            <li>
              <a href="./pages/course-category.html" class="dropdown-item">Life Style</a>
            </li>
            <li>
              <a href="./pages/course-category.html" class="dropdown-item">Business</a>
            </li>
            <li>
              <a href="./pages/course-category.html" class="dropdown-item">Photography</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarLanding" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Landings <i
              class="fa-solid fa-chevron-down fs-6 "></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarLanding">
            <li>
              <h4 class="dropdown-header">Landings</h4>
            </li>
            <li>
              <a href="./mentor/mentor.html" class="dropdown-item">
                <span>Mentor</span>
                <span class="badge bg-primary ms-2">New</span>
              </a>
            </li>
            <li>
              <a href="./pages/landings/landing-education.html" class="dropdown-item">Education</a>
            </li>
            <li>
              <a href="./pages/landings/home-academy.html" class="dropdown-item">Home Academy</a>
            </li>
            <li>
              <a href="./pages/landings/landing-courses.html" class="dropdown-item">Courses</a>
            </li>
            <li>
              <a href="./pages/landings/course-lead.html" class="dropdown-item">Lead Course</a>
            </li>
            <li>
              <a href="./pages/landings/request-access.html" class="dropdown-item">Request
                Access</a>
            </li>
            <li>
              <a href="./pages/landings/landing-sass.html" class="dropdown-item">SaaS</a>
            </li>

            <li>
              <a href="./pages/landings/landing-job.html" class="dropdown-item">Job Listing</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarPages" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Pages <i
              class="fa-solid fa-chevron-down fs-6 "></i></a>
          <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarPages">


            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item " href="#">Specialty <i
                  class="fa-solid fa-chevron-down fs-6 m-2"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./pages/coming-soon.html">Coming Soon</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/404-error.html">Error 404</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/maintenance-mode.html">Maintenance Mode</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/terms-condition-page.html">Terms &amp;
                    Conditions</a>
                </li>
              </ul>
            </li>
            <li>
              <hr class="mx-3">
            </li>

            <li>
              <a class="dropdown-item" href="./pages/about.html">About</a>
            </li>

            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item " href="#">Help Center <i
                  class="fa-solid fa-chevron-down fs-5 m-2"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./pages/help-center.html">Help Center</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/help-center-faq.html">FAQ's</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/help-center-guide.html">Guide</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/help-center-guide-single.html">Guide
                    Single</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/help-center-support.html">Support</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/pricing.html">Pricing</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/compare-plan.html">Compare Plan</a>
            </li>

            <li>
              <a class="dropdown-item" href="./pages/contact.html">Contact</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarAccount" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Accounts <i
              class="fa-solid fa-chevron-down fs-6"></i></a>
          <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarAccount">
            <li>
              <h4 class="dropdown-header">Accounts</h4>
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item " href="#">Instructor</a>
              <ul class="dropdown-menu">
                <li class="text-wrap">
                  <h5 class="dropdown-header text-dark">Instructor</h5>
                  <p class="dropdown-text mb-0">Instructor dashboard for manage courses and
                    earning.</p>
                </li>
                <li>
                  <hr class="mx-3">
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/dashboard-instructor.html">Dashboard</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/instructor-profile.html">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/instructor-courses.html">My Courses</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/instructor-order.html">Orders</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/instructor-reviews.html">Reviews</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/instructor-students.html">Students</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/instructor-payouts.html">Payouts</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/instructor-earning.html">Earning</a>
                </li>
                <li class="dropdown-submenu dropend">
                  <a class="dropdown-item dropdown-list-group-item dropdown-toggle"
                     href="#">Quiz</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="./pages/instructor-quiz.html">Quiz</a>
                    </li>
                    <li>
                      <a class="dropdown-item"
                         href="./pages/instructor-quiz-details.html">Single</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./pages/instructor-quiz-result.html">Result</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item " href="#">Students</a>
              <ul class="dropdown-menu">
                <li class="text-wrap">
                  <h5 class="dropdown-header text-dark">Students</h5>
                  <p class="dropdown-text mb-0">Students dashboard to manage your courses and
                    subscriptions.</p>
                </li>
                <li>
                  <hr class="mx-3">
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/dashboard-student.html">Dashboard</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="./pages/student-subscriptions.html">Subscriptions</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/payment-method.html">Payments</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/billing-info.html">Billing Info</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/invoice.html">Invoice</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/invoice-details.html">Invoice Details</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/dashboard-student.html">Bookmarked</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./pages/dashboard-student.html">My Path</a>
                </li>
                <li class="dropdown-submenu dropend">
                  <a class="dropdown-item dropdown-list-group-item dropdown-toggle"
                     href="#">Quiz</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="./pages/student-quiz.html">Quiz</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./pages/student-quiz-attempt.html">Attempt</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./pages/student-quiz-start.html">Start</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./pages/student-quiz-result.html">Result</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item " href="#">Admin</a>
              <ul class="dropdown-menu">
                <li class="text-wrap">
                  <h5 class="dropdown-header text-dark">Master Admin</h5>
                  <p class="dropdown-text mb-0">Master admin dashboard to manage courses, user, site
                    setting , and work with amazing apps.</p>
                </li>
                <li>
                  <hr class="mx-3">
                </li>
                <li class="px-3 d-grid">
                  <a href="./pages/dashboard/admin-dashboard.html" class="btn btn-sm btn-primary">Go
                    to Dashboard</a>
                </li>
              </ul>
            </li>
            <li>
              <hr class="mx-3">
            </li>
            <li>
              <a class="dropdown-item" href="./pages/sign-in.html">Sign In</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/sign-up.html">Sign Up</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/forget-password.html">Forgot Password</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/profile-edit.html">Edit Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/security.html">Security</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/social-profile.html">Social Profiles</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/notifications.html">Notifications</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/profile-privacy.html">Privacy Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/delete-profile.html">Delete Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="./pages/linked-accounts.html">Linked Accounts</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-ellipsis"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDropdown">
            <div class="list-group">
              <a class="list-group-item list-group-item-action border-0" href="./docs/index.html">
                <div class="d-flex align-items-center">
                  <i class="fe fe-file-text fs-3 text-primary"></i>
                  <div class="ms-3">
                    <h5 class="mb-0">Documentations</h5>
                    <p class="mb-0 fs-6">Browse the all documentation</p>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action border-0"
                 href="./docs/bootstrap-5-snippets.html">
                <div class="d-flex align-items-center">
                  <i class="bi bi-files fs-3 text-primary"></i>
                  <div class="ms-3">
                    <h5 class="mb-0">Snippet</h5>
                    <p class="mb-0 fs-6">Bunch of Snippet</p>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action border-0"
                 href="./docs/changelog.html">
                <div class="d-flex align-items-center">
                  <i class="fe fe-layers fs-3 text-primary"></i>
                  <div class="ms-3">
                    <h5 class="mb-0">
                      Changelog
                      <span class="text-primary ms-1" id="changelog">v3.2.0</span>
                    </h5>
                    <p class="mb-0 fs-6">See what's new</p>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action border-0"
                 href="https://geeksui.codescandy.com/geeks-rtl/" target="_blank">
                <div class="d-flex align-items-center">
                  <i class="fe fe-toggle-right fs-3 text-primary"></i>
                  <div class="ms-3">
                    <h5 class="mb-0">RTL demo</h5>
                    <p class="mb-0 fs-6">RTL Pages</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">
        <span class="position-absolute ps-3 search-icon">
         <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <label for="search" class="visually-hidden"></label>
        <input type="search" id="search" class="form-control ps-6" placeholder="Search Courses">
      </form>
    </div>
  </div>
</nav>