<div class="sidebar_column col-2 d-flex flex-column p-4 bg-dark text-white" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org">
    <div sec:authorize="!isAuthenticated()">
        <button type="button" class="btn btn-danger fs-5 fw-bold"><i class="bi bi-person-plus-fill"></i>
            Đăng ký
        </button>
        <button type="button" class="sidebar btn btn-primary mt-2 fs-5 fw-bold bg-dark"><i
                class="bi bi-person-fill"></i> Đăng nhập
        </button>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <span class="fw-bold text-secondary">PAGES</span>
        </li>
        <li class="nav-item ">
            <div class="dropend mt-3" style="margin-left: 16px">
                <a href="#" type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false" data-bs-auto-close="outside"><i class="bi bi-book"></i> Khóa học
                </a>
                <!-- category-detail -->
                <ul class="dropdown-menu ms-4 rounded-0 bg-light" id="category" style="width: 330px;height: 637px;">
                </ul>
                <!-- category-detail -->
            </div>
        </li>
        <li>
            <a href="#" class="nav-link text-white mt-1"><i class="bi bi-question-circle"></i> Hỏi đáp
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white mt-1"><i class="bi bi-file-earmark-text"></i> Bài
                viết </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white mt-1"><i class="bi bi-tags"></i> TAG </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white mt-1"><i class="bi bi-info-circle"></i> Giới thiệu
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white mt-1"><i class="bi bi-bank"></i> Tài trợ </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white"><i class="bi bi-pencil-square"></i> Phản hồi </a>
        </li>
    </ul>
</div>