<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::body})}" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <div class=" col-10">
<!--        <h2>Oder</h2>-->

<!--        <form th:each="order : ${orders}">-->
<!--            <label>UserName</label>-->
<!--            <input type="text" id="username" class="mb-1" th:value="${order.username}" readonly>-->
<!--            <label>DateCreat</label>-->
<!--            <input type="text" id="datenow" class="mb-1" th:value="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss')}" readonly>-->
<!--            <label>Address</label>-->
<!--            <input type="text" id="address" class="mb-1" th:value="${order.email}" readonly>-->
<!--        </form>-->
        <table class="table" id="cartbody">

        </table>
      <h2><span id="cart-sumPrice"></span></h2>
<!--        <button class="btn btn-danger" onclick="checkout()">Pay now</button>-->
    </div>
    <script src="/JS/shoppingCart.js"></script>
</body>
</html>