body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.sidebar {
  border-color: #42a5f5;
  color: #42a5f5;
}

.sidebar_column {
  width: 230px;
  height: 690px;
}

.content_column {
  width: 1315px;
  height: 300px;
  margin-left: 5px;
  background-color: #754ffe
}
.click-detail{
  background-color: transparent;
  border: none;
}