body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.sidebar {
  border-color: #42a5f5;
  color: #42a5f5;
}

.sidebar_column {
  width: 230px;
  height: 690px;
}

.content_column {
  width: 1315px;
  height: 300px;
  margin-left: 5px;
  background-color: #754ffe
}
.click-detail{
  background-color: transparent;
  border: none;
}
.nav-tabs {
  border: none; /* Removes the border from the tab container */
}

.nav-tabs .nav-link {
  border: none; /* Removes borders from individual tabs */
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid transparent; /* Adjust for active tab styling */
}